@model BudgetCategory

<div class="card" style="width: 28rem;">
    <h5 class="card-title">
        <span>@Model.Category.CategoryName  </span>
        <span>  @((Model.Planned) - (Model.ExpenseTotal))</span><span> / @Model.Planned</span>
    </h5>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col">
                    Planned
                </div>
                <div class="col">
                    Spent
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span>@Model.Planned</span>
                </div>
                <div class="col">
                    <span>@Model.ExpenseTotal</span>
                </div>
                <div><br />
                    Expenses:
                    <hr />
                    <span>
                        @foreach (var e in Model.Expenses)
                        {
                            <div>
                                <span>@e.ExpenseDate</span><br />
                                <span>$@e.ExpenseAmount</span>
                                <span> at @e.ExpenseLocation</span>
                            </div>
                            <hr />
                        }
                    </span>
                </div>
            </div>
        </div>
@*         <a class="btn btn-primary" href="BudgetCategory?bcatId=@cat.BudgetCategoryId&budgetId=@Model.BudgetID">View</a>
        <hr />
        <a class="btn btn-primary" href="DeleteBudgetCategory?bcatId=@cat.BudgetCategoryId&budgetId=@Model.BudgetID">Delete Category</a> *@
    </div>
</div>