@model List<BudgetVM>
@{
    ViewData["Title"] = "Budget Page";
}

<h1>Your Budgets:</h1>
<a class="btn btn-primary" href="Budget/AddBudget">Add</a>

<div>
    @foreach (var budget in Model)
    {
        <div class="card" style="width: 18rem;">
            <h5 class="card-title">
                @if (budget.BudgetName == null)
                {
                    <span>Budget #</span>@budget.BudgetID
                } else 
                {
                    @budget.BudgetName
                }</h5>
            <div class="card-body">
             <p class="card-text">
@*                 <div><span>@budget.StartDate</span>-<span>@budget.EndDate</span></div>
 *@                    @if (budget.ExpenseTotal > budget.IncomeTotal)
                    {
                        <div class="text-danger">You are over budget!</div>
                    }
                <div>Total Income: @budget.IncomeTotal</div>
                <div>Total Spent: @budget.ExpenseTotal</div>
             </p>
                <a class="btn btn-primary" href="Budget/Budget?budgetId=@budget.BudgetID">View</a>
                <hr />
                <a class="btn btn-primary" href="Budget/DeleteBudget?budgetId=@budget.BudgetID">Delete</a>
            </div>
        </div>
    }
</div>








